{% extends "base.html" %}
{% block title %}Cadastro de Produtos{% endblock title %}

{% block h1 %}Cadastro de Produtos{% endblock h1 %}
{% block conteudo %}    
    <form class="d-flex justify-content-center p-3" method="post">
        {% csrf_token %}
        <fieldset class='border p-3'>
            <legend>Dados de Identificação</legend>
            {{form.as_p}}
            <div><button class="btn btn-custom" type="submit">Salvar</button></div>
        </fieldset>
    </form>
{% endblock conteudo %}