{% extends "base.html" %}
{% block title %}Cadastro de Produtos{% endblock title %}

{% block h1 %}Cadastro de Produtos{% endblock h1 %}
{% block conteudo %}    
    <form class="d-flex justify-content-center p-3" method="post">
        {% csrf_token %}
        <fieldset class="border  p-2">
            <legend>Dados do Produto</legend>
            <div>Nome: <input type="text" name="nome"></div>
            <br>
            <div>Preço: <input type="number" name='preco'></div>
            <br>
            <div><button class="btn btn-secondary" type="submit">Salvar</button></div>
        </fieldset>
    </form>
{% endblock conteudo %}