{% extends "base.html" %}
{% block title %}Lista de Produtos{% endblock title %}


{% block h1 %}Lista de Produtos{% endblock h1 %}

{% block conteudo %}
    <div class='text-center'><a class="m-3 btn btn-secondary" href="{% url 'formularioproduto' %}">Novo Produto</a></div>

    <table class="text-center mx-auto table table-striped" width='400'>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Valor (R$)</th>
            <th>Ações</th>
        </tr>
        {% for item in lista %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.preco}}</td>
            <td>
                <div class='d-flex justify-content-around'>
                    <a class="fa-solid fa-edit badge-custom" href="{% url 'editar_produto' id=item.id %}"></a>
                    <a class="fa-solid fa-trash" href="{% url 'remover_produto' id=item.id %}"></a>
                <div>
                <br>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock conteudo %}