<div class="container d-flex">
  {% load static %}
  {% for item in lista %}
  <div class="card m-2 justify-content-center" style="width: 20rem;">
      <img class="card-img-top img-fluid" src="{% static 'img/' %}{{item.imagem}}" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title text-center">{{item.nome}}</h5>
        <p class="card-text text-justify">{{item.descricao}}</p>
        <form class="form-inline" method='post'>
          <div class="card-body">
            <div class="d-flex">
              <input class="col-sm col-6 mr-1" style="display: {{ item.input }};">
              <button href="" class="btn btn-dark col-sm col-6">Enviar</button>
          </div>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
</div>