<div class="card m-2 justify-content-center" style="width: 15rem;">
    {% load static %}
    <img class="card-img-top" src="{% static "img/diassemanas.png" %}" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title text-center">Dia da Semana</h5>
      <p class="card-text text-justify">Descubra uma atividade especial para qualquer dia da semana! Escolha um número de 1 a 7 e receba uma sugestão para tornar seu dia ainda mais interessante.</p>
      <form class="form-inline">
        <div class="card-body">
          <div class="row">
            <input type="number" class="col-sm col-6 mr-1">
            <button href="#" class="btn btn-dark col-sm col-6">Sugestão</button>
          </div>
        </div>
      </form>
    </div>
</div>