.cabecalho {
    background-color: orange;
    padding: 5px;
    margin-bottom: 15px;
}

.lateral {
    background-color: #f2f2f2;
    padding: 5px;
    float: left;
    width: 20%;
}

.conteudo {
    background-color: #f2f2f2;
    padding: 5px;
    float: right;
    width: 75%;
}